[*.cs]
# Força quebras de linha em chamadas de métodos encadeadas
csharp_preserve_single_line_blocks = false
csharp_new_line_before_open_brace = all
csharp_indent_method_chains = true

# Define o limite de caracteres por linha para forçar o wrap automático
max_line_length = 80
